
@{
    ViewData["Title"] = "Events";
}
@await Html.PartialAsync("_NavbarPartial")
<div class="pages overlay">
    <div class="events">
        <h2>Events</h2>
        <h5>Puppy Yoga</h5>
        <p>
            Downward dog with real dogs? Yes, please! Join us at The Logan hotel with Morris Animal Refuge and Amrita Yoga & Wellness for a vinyasa flow with puppies! There will be two sessions on Saturday, August 11th. The first session is 12:00pm - 1:00pm followed by the second session from 2:00pm-3:00pm. Please BYO mat & towel.
</p><p>
            When: Saturday, August 11th
        </p>
            First Class: 12:00pm - 1:00pm
        <p>
            Second Class: 2:00pm - 3:00pm
            </p>
            Where: The Logan Hotel, Courtyard
        <p>
            Cost: $25.00 charitable donation to Morris Animal Refuge
            </p><p>
            ** PLEASE NOTE: We cannot accommodate any dogs from the public under any circumstance. This event is meant to promote the adoption of homeless dogs housed at Morris Animal Refuge. Thank you for understanding. **
        </p>
        <h5>Adoption Days</h5>
        Dog adoption saves lives. Adopt a dog  and you'll have a friend for life. All dogs and puppies are owned by rescues or shelters and they set policies for adoptions, including the cost, however, we do not allow rescues to charge more than $385 for adoptions.

        All dogs at our events are spayed or neutered, current on all age appropriate vaccinations, microchipped and assessed for behavior and temperament unless they come from Connecticut municipal pounds or are otherwise noted.
    </div>
</div>
