
@{
    ViewData["Title"] = "Events";
}
<div class="w3-content w3-container w3-padding-64" id="events">

    <h2 class="w3-center">EVENTS</h2>
    <p class="w3-center"><em></em></p>
    <p>

        <div class="w3-center w3-hide-small">
            <a href="#eventone" class="w3-bar-item w3-button" style="border: solid;">Puppy Yoga</a>
            <a href="#eventtwo" class="w3-bar-item w3-button" style="border: solid;">Adoption Days</a>
            <a href="#eventthree" class="w3-bar-item w3-button" style="border: solid;">Puppy Run</a>
        </div>
    </p>
    <div class="w3-row" id="eventone">
        <p></p>
    </div>
    <div class="w3-row" style="border-top: 1px dashed #ed8c72">
        <p></p>
    </div>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <h3 style="color: #ed8c72">Puppy Yoga</h3>
            <img src="~/images/yoga.jpg" class="w3-round w3-image" alt="Photo of Me" width="500" height="333">
        </div>
        <div class="w3-col m6 w3-padding-large">
            <p>
                Downward dog with real dogs? Yes, please!
                Join us at Coding Temple with The Anti-Cruelty Society-Chicago and
                Yoga & Wellness for a vinyasa flow with puppies!
                Puppy Yoga will be held from 12:00pm - 1:00pm on Saturday, September 8th.
                Please BYO mat & towel.
            </p>
            <p>
                Date: <em>Saturday, September 8th</em>
            </p>
            <p>
                Time: <em>12:00pm - 1:00pm</em>
            </p>
            <p>
                Location: <em>222 W. Ontario, #450</em>
            </p>
            <p>
                Cost: <em>$25.00 charitable donation to The Anti-Cruelty Society-Chicago</em>
            </p>
            <p style="font-size: .7em">
                * PLEASE NOTE: We cannot accommodate any dogs from the public under any circumstance.
                This event is meant to promote the adoption of homeless dogs housed at The Anti-Cruelty Society-Chicago. Thank you for understanding.
            </p>
        </div>
    </div>
    <div class="w3-row" id="eventtwo">
        <p></p>
    </div>
    <div class="w3-row" style="border-top: 1px dashed #ed8c72">
        <p></p>
    </div>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <h3 style="color: #ed8c72">Adoption Days</h3>
            <img src="~/images/adoption.jpg" class="w3-round w3-image" alt="Photo of Me" width="500" height="333">
        </div>
        <div class="w3-col m6 w3-padding-large" style="">
            <p></p>
            <p></p>
            <p>
                Bigger smiles. Cozier naps. Warmer welcomes every time you walk in the door.
                When you adopt a dog, so many things change for the better—for everyone.
                If you’re thinking about welcoming the love of a pet into your life, we can help.
                We are partnering with PAWS Chicago to host this adoption day!
            </p>
            <p>
                Date: <em>Friday, September 21st</em>
            </p>
            <p>
                Time: <em>12:00pm - 3:00pm</em>
            </p>
            <p>
                Location: <em>Logan Square</em>
            </p>
        </div>
    </div>
    <div class="w3-row" id="eventthree">
        <p></p>
    </div>
    <div class="w3-row" style="border-top: 1px dashed #ed8c72">
        <p></p>
    </div>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <h3 style="color: #ed8c72">Puppy Run</h3>
            <img src="~/images/puppyruntwo.jpg" class="w3-round w3-image" alt="Photo of Me" width="500" height="333">
        </div>
        <div class="w3-col m6 w3-padding-large" style="">
            <p></p>
            <p></p>
            <p>
                Snug presents its 2nd Annual Puppy Run 5K, a walk/run in conjunction with
                PAWS Chicago that is sponsored by the Chicago Veterinary Hospital. Participate
                with or without your dog! Pre-register by 09/30, or register on-site beginning
                at 6:30am the day of the race. T-shirt and a post run treat ticket included!
                The race starts on Parkside Ave, outside of Jackson Park. Pre-registration
                by 09/15 guarantees a t-shirt.
            </p>
            <p>
                Date: <em>Saturday, October 6th</em>
            </p>
            <p>
                Time: <em>8:00am - 10:00am</em>
            </p>
            <p>
                Location: <em>Jackson Park</em>
            </p>
            <p>
                Pre-Registration Cost: <em>$20</em>
            </p>
            <p>
                Day of Race Cost: <em>$25</em>
            </p>
        </div>
        </div>
        <a href="#events" class="w3-button w3-section w3-right w3-hide-large" style="background-color: #ed8c72; position: fixed; bottom: 0px;"><i class="fa fa-arrow-up w3-margin-right"></i></a>
        <footer class="w3-center w3-padding-64 w3-opacity w3-hover-opacity-off">
            <a href="#events" class="w3-button w3-section w3-hide-small" style="background-color: #ed8c72"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        </footer>
    </div>

