
@{
    ViewData["Title"] = "Events";
}
<div class="w3-content w3-container w3-padding-64" id="about">

    <h3 class="w3-center">EVENTS</h3>
    <p class="w3-center"><em></em></p>
    <p>
       
    </p>
    <div class="w3-row">
        <p><b>Puppy Yoga</b></p><br>
    </div>

    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <img src="~/images/puppy2.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
        </div>

        <!-- Hide this text on small devices -->
        <div class="w3-col m6 w3-padding-large">
            <p>
            <p>
                Downward dog with real dogs? Yes, please! Join us at The Logan hotel with Morris Animal Refuge and Amrita Yoga & Wellness for a vinyasa flow with puppies! There will be two sessions on Saturday, August 11th. The first session is 12:00pm - 1:00pm followed by the second session from 2:00pm-3:00pm. Please BYO mat & towel.
            </p><p>
                When: Saturday, August 11th
            </p>
            First Class: 12:00pm - 1:00pm
            <p>
                Second Class: 2:00pm - 3:00pm
            </p>
            Where: The Logan Hotel, Courtyard
            <p>
                Cost: $25.00 charitable donation to Morris Animal Refuge
            </p><p>
                ** PLEASE NOTE: We cannot accommodate any dogs from the public under any circumstance. This event is meant to promote the adoption of homeless dogs housed at Morris Animal Refuge. Thank you for understanding. **
            </p>
        </div>
    </div>
    <div class="w3-row">
        <p><b>Puppy Yoga</b></p><br>
    </div>
    <div class="w3-row">
        <!-- Hide this text on small devices -->
        <div class="w3-col m6 w3-hide-small w3-padding-large">
            <p>
            <p>
                Downward dog with real dogs? Yes, please! Join us at The Logan hotel with Morris Animal Refuge and Amrita Yoga & Wellness for a vinyasa flow with puppies! There will be two sessions on Saturday, August 11th. The first session is 12:00pm - 1:00pm followed by the second session from 2:00pm-3:00pm. Please BYO mat & towel.
            </p><p>
                When: Saturday, August 11th
            </p>
            First Class: 12:00pm - 1:00pm
            <p>
                Second Class: 2:00pm - 3:00pm
            </p>
            Where: The Logan Hotel, Courtyard
            <p>
                Cost: $25.00 charitable donation to Morris Animal Refuge
            </p><p>
                ** PLEASE NOTE: We cannot accommodate any dogs from the public under any circumstance. This event is meant to promote the adoption of homeless dogs housed at Morris Animal Refuge. Thank you for understanding. **
            </p>
        </div>
        <div class="w3-col m6 w3-center w3-padding-large">
            <p><b>Puppy Yoga</b></p><br>
            <img src="~/images/puppy2.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
        </div>
    </div>
    </div>

