@model  RegistrationModel

    <div class="w3-content w3-container w3-padding-64">
        <h2 class="w3-center">
            REGISTER
        </h2>
        <p class="w3-center">
            <em>
                Please enter your registration information.
            </em>
        </p>
        <div class="w3-row">
            <div class="w3-col m3">
                <p></p>
            </div>
            <div class="w3-col m6 w3-padding-large">
                @if (!this.ViewData.ModelState.IsValid)
                {
                    <div class="alet alert-danger">
                        <ul>
                            @foreach (var error in (this.ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).Select(x => x.Value.Errors)))
                            {
                                @foreach (var message in error)
                                {
                                    <li>@message.ErrorMessage</li>
                                }
                            }
                        </ul>
                    </div>
                }
                    <form class="checkout" method="post">
                        <div class="form-group">
                            <label type="text" class="formlabel" placeholder="Message" required name="Message">
                                Event
                            </label>
                            <select asp-for="RegistrationEvent" required class="w3-input w3-border">
                                <option value="Puppy Yoga">Puppy Yoga</option>
                                <option value="Adoption Day Shelter Participant">Adoption Day Shelter Participant</option>
                                <option value="Puppy Run">Puppy Run</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="formlabel">Name</label>
                            <input type="text" asp-for="Name" required class="w3-input w3-border" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="formlabel">Email</label>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input type="email" asp-for="Email" required class="w3-input w3-border" />
                                <input type="hidden" asp-for="Email" class="form-control" />
                            }
                            else
                            {
                                <input type="email" asp-for="Email" required class="w3-input w3-border" />
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="formlabel"></label>
                            <input asp-for="PhoneNumber" class="w3-input w3-border" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <button class="w3-button w3-right w3-section" style="background-color: #ed8c72" type="submit">
                            <i class="far fa-calendar-alt"></i> REGISTER
                        </button>
                    </form>
            </div>
        </div>
    </div>
