@model Pet

@{
    ViewData["Title"] = "Details";
}
<div class="w3-content w3-container w3-padding-64" id="about">
    <h2 class="w3-center">
        SCHEDULE VISIT
    </h2>
    <div class="w3-center w3-hide-small">
        <a asp-controller="Pet" asp-action="Index" class="w3-bar-item w3-button" style="border: solid;">Schedule Visit</a>
        <a asp-controller="Pet" asp-action="Corporate" class="w3-bar-item w3-button" style="border: solid;">Schedule Event</a>
        <a asp-controller="Pet" asp-action="Therapy" class="w3-bar-item w3-button" style="border: solid;">Therapy Dogs</a>
    </div>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <h3 style="color: #ed8c72">@Model.Name</h3>
            <img src="@Model.ImagePath" class="w3-round w3-image" width="300" height="200" />
        </div>
        <div>
            <p></p>
        </div>
        <!-- Hide this text on small devices -->
        <div class="w3-col m6 w3-padding-large">
            <form method="post">
                <input type="hidden" name="id" value="@Model.ID" />
                <div class="form-group">
                    <label class="formlabel">How many puppies would you like to visit?</label>
                    <select name="animalCount" required class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="formlabel" for="formGroupExampleInput3">How long would you like your visit to be?</label>
                    <select name="length" required class="form-control">
                        <option value="Fifteen minutes">15 minutes</option>
                        <option value="Thirty minutes">30 minutes</option>
                        <option value="Forty-five minutes">45 minutes</option>
                        <option value="Sixty minutes">60 minutes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="formlabel " for="event-time">Date/time:</label>
                    <input type="datetime-local" name="startDate" value="2018-08-20T14:30"
                           min=@DateTime.Now max=@DateTime.Now.AddYears(1) required class="form-control" />
                </div>
                <div>
                    <button  class="w3-button w3-right w3-section" style="background-color: #ed8c72" type="submit">
                        <i class="far fa-calendar-alt"></i> SCHEDULE VISIT
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


