@model TherapyCart

@{
    ViewData["Title"] = "Therapy";
}
<div class="w3-content w3-container w3-padding-64">
    <h2 class="w3-center">
        THERAPY DOGS
    </h2>
    <p class="w3-center"><em>Therapy dogs are trained to provide comfort and support to many people in either an individual or group setting.</em></p>
    <div class="w3-center w3-hide-small">
        <a asp-controller="Pet" asp-action="Index" class="w3-bar-item w3-button" style="border: solid;">Schedule Visit</a>
        <a asp-controller="Pet" asp-action="Corporate" class="w3-bar-item w3-button" style="border: solid;">Schedule Event</a>
        <a asp-controller="Pet" asp-action="Therapy" class="w3-bar-item w3-button" style="border: solid;">Therapy Dogs</a>
    </div>
    <div class="w3-row">
        <div class="w3-row">
            <p></p>
        </div>
        <div class="w3-col m6 w3-center w3-padding-large">
            <p></p>
            <img src="~/images/therapy.jpg" class="w3-round w3-image" alt="Photo of Me" width="500" height="333">
        </div>

        <div class="w3-col m6 w3-padding-large">
            <form method="post">
                <input asp-for="ID" type="hidden" />
                <div class="form-group">
                    <label type="text" class="formlabel" placeholder="Message" required name="Message">
                        What kind of event is this for?
                    </label>
                    <select asp-for="EventType" required class="w3-input w3-border">
                        <option value="Corporate">Corporate</option>
                        <option value="School">School</option>
                        <option value="Party">Party</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="formlabel">How many puppies would you like to join?</label>
                    <select asp-for="AnimalCount" required class="w3-input w3-border">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="formlabel" for="formGroupExampleInput3">How long would you like your event to be?</label>
                    <select asp-for="TimeLength" required class="w3-input w3-border">
                        <option value="1">One hour</option>
                        <option value="2">Two hours</option>
                        <option value="3">Three hours</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="formlabel " for="event-time">Date/time of event:</label>
                    <input type="datetime-local" asp-for="StartDate" value="2018-07-27T19:30"
                           min="2018-07-27T00:00" max="2019-06-14T00:00" required class="w3-input w3-border" />
                    <h6><em>*Events are held between 9 AM and 6 PM</em></h6>
                </div>
                <div class="form-group">
                    <label class="formlabel" for="formGroupExampleInput">Are there any specific instructions we should follow? (If there are none, type "none")</label>
                    <input type="text" class="w3-input w3-border" id="formGroupExampleInput" asp-for="Instructions" placeholder="Ex: Allergies, sensory issues, etc">
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="IsRecurring" value="false" class="form-check-input" name="exampleRadios" id="exampleRadios1" checked>
                    <label class="formlabel" for="exampleRadios1">
                        One Time
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="IsRecurring" value="true" class="form-check-input" name="exampleRadios" id="exampleRadios2">
                    <label class="formlabel" for="exampleRadios2">
                        Recurring
                    </label>
                </div>
                <div>
                    <button class="w3-button w3-right w3-section" style="background-color: #ed8c72" type="submit">
                        <i class="far fa-calendar-alt"></i> SCHEDULE EVENT
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>

