@model ContactModel
@{
    ViewData["Title"] = "About Us";
    string apiUrl = "https://maps.googleapis.com/maps/api/js?key=" + @ViewBag.ApiKey + "&callback=initMap";
}
<div class="w3-content w3-container w3-padding-64" id="contact">
    <h2 class="w3-center">ABOUT US </h2>
    <p class="w3-center">
    <p>
        Cuddling is a great stress reliever. Petting and talking to a dog for just a
        few minutes has been shown to increase oxytocin levels in both dogs and humans. Oxytocin,
        often referred to as the love hormone, is associated with social bonding and trust. 
        New research found that human-dog interactions can elicit the same positive hormonal response that 
        mothers have with their infants.
        <a href="https://www.health.harvard.edu/blog/therapy-dog-offers-stress-relief-at-work-201107223111" style="color: #ed8c72;">Go check it out!</a>
    </p>
    <p>
        Snug proudly partners with rescue organizations in the area to 
        provide medical services and placement options that help hundreds of puppies find new homes each year.
    </p>
    <ul>
        <li><a href="https://anticruelty.org/?gclid=CjwKCAjw8O7bBRB0EiwAfbrTh59fn1MLgTHJpFc8_gQaemSZg7d1MudxeeIOueOIyqntqB5UKDG97BoCGNEQAvD_BwE" style="color: #ed8c72;">The Anti-Cruelty Society</a></li>
        <li><a href="http://www.pawschicago.org/" style="color: #ed8c72;">PAWS Chicago</a></li>
    </ul>
    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m4 w3-container w3-hide-small">
            <!-- Add Google Maps -->
            <div id="map" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>
            <script>
                // Initialize and add the map
                function initMap() {
                    // The location of Uluru
                    var uluru = { lat: 41.893640, lng: - 87.635128 };
                    // The map, centered at Uluru
                    var map = new google.maps.Map(
                        document.getElementById('map'), { zoom: 14, center: uluru });
                    // The marker, positioned at Uluru
                    var marker = new google.maps.Marker({ position: uluru, map: map });
                }
            </script>
            <script async defer
                    src="@apiUrl">
            </script>
         

        </div>
        <div class="w3-col m8 w3-panel">
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Chicago, US<br>
                <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +00 151515<br>
                <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: admin@snug.codingtemple.com<br>
            </div>
            @if (!this.ViewData.ModelState.IsValid)
            {
                <div class="alet alert-danger">
                    <ul>
                        @foreach (var error in (this.ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).Select(x => x.Value.Errors)))
                        {
                            @foreach (var message in error)
                            {
                                <li>@message.ErrorMessage</li>
                            }
                        }
                    </ul>
                </div>

            }
            <p>Swing by or send us a message:</p>
            <form method="post">
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half">
                        <input type="text" asp-for="Name" class="w3-input w3-border" placeholder="Name" required name="Name">
                    </div>
                    <div class="w3-half">
                        <input type="email" asp-for="Email" class="w3-input w3-border" placeholder="Email" required name="Email">
                    </div>
                </div>
                <input type="text" asp-for="Question" class="w3-input w3-border" placeholder="Message" required name="Message">
                <button  class="w3-button w3-right w3-section" style="background-color: #ed8c72" type="submit">
                    <i class="fa fa-paper-plane"></i> SEND MESSAGE
                </button>
            </form>
        </div>
    </div>
</div>

