@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>Why animals?</p>
<p>We partner with shelters in the area to encourage pet adoption through our events.</p>
