@{
    ViewData["Title"] = "Message";
}

<div class="w3-padding-large" style="margin: 2vw">
    <h2 class="w3-center">THANK YOU FOR YOUR MESSAGE!</h2>
    <p class="w3-center">Check out some of our <a asp-controller="Pet" asp-action="index" style="color: #ed8c72">puppies!</a></p>
</div>
