@{
    ViewData["Title"] = "Confirm email";
}

<div class="pages overlay">

    @await Html.PartialAsync("_NavbarPartial")
    <h2>@ViewData["Title"]</h2>
    <div>
        <p>
            Thank you for confirming your email.
        </p>
    </div>
</div>
