@{
    ViewData["Title"] = "Confirm email";
}

<div class="w3-padding-large" style="margin: 2vw">
    <h2 class="w3-center">@ViewData["Title"]</h2>
    <p class="w3-center">Thank you for confirming your email. Check out some of our<a asp-controller="Pet" asp-action="index" style="color: #ed8c72">puppies!</a></p>
</div>
