@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="w3-content w3-container w3-padding-64">
    <h3 class="w3-center">
        Please check your email to reset your password.
    </h3>
    <button class="w3-button w3-black w3-center w3-section">
        GO TO LOG IN PAGE
    </button>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</div>
