@{
    ViewData["Title"] = "Forgot password confirmation";
}

@await Html.PartialAsync("_NavbarPartial")
<div class="pages overlay">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>
