@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@*<div class="w3-content w3-padding-64">
    <h2 class="w3-center">
        LOG IN
    </h2>
    <div class="w3-row-padding">
        <div class=" w3-col m4"><p></p></div>*@
<div class="w3-content w3-padding-64">
    <h3 class="w3-center">
        FORGOT YOUR PASSWORD?
    </h3>
    <div class="w3-row-padding">
        <div class=" w3-col m4"><p></p></div>
        <div class="w3-col m4 w3-padding-large">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <h4></h4>
                    <label asp-for="Email" class="formlabel">Enter your email</label>
                    <input asp-for="Email" class="w3-input w3-border" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button class="w3-button w3-right w3-section" style="background-color: #ed8c72">
                        SUBMIT
                    </button>
                </div>
            </form>
            @section Scripts {
                @await Html.PartialAsync("_ValidationScriptsPartial")
            }
        </div>
        <div class=" w3-col m4"><p></p></div>
    </div>
</div>
