@{
    ViewData["Title"] = "Signed out";
}
<div class="pages overlay">
    @await Html.PartialAsync("_NavbarPartial")
    <h2>@ViewData["Title"]</h2>
    <p>
        You have successfully signed out.
    </p>
</div>
