@model PetCart

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_NavbarPartial")
<div class="pages">
    <h2>Index</h2>
    @if (Model.PetCartProducts.Count == 0)
    {
        <p>You have nothing scheduled,<a asp-controller="Pet" asp-action="index"> check out some animals or host an event!</a></p>

    }
    else
    {
        <table class="table">
            @foreach (var product in Model.PetCartProducts)
            {
                <tr>
                    <td>@product.Pet.Name</td>
                    <td>@((product.Pet.Price ?? 0).ToString("C"))</td>
                    <td>@product.Pet.Description</td>
                    <td>
                        <form method="post">
                            <input type="hidden" value="@product.ID" />
                            <button class="btn btn-danger">Remove</button>
                        </form>
                    </td>

                </tr>
            }
        </table>
    }
    <a asp-controller="Checkout" asp-action="Index" class="btn btn-primary">Continue to Payment</a>
    </div>