@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="w3-content w3-padding-64">
    <h2 class="w3-center">
        MANAGE YOUR ACCOUNT
    </h2>
    <p class="w3-center">
        @await Html.PartialAsync("_ManageNav")
    </p>
    <div class="w3-row-padding">
            @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
