@using PetTime.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="w3-center">
    <a asp-action="Index"  class="@ManageNavPages.IndexNavClass(ViewContext) w3-bar-item w3-button" style="border: solid;">Profile</a>
    <a asp-action="ChangePassword"class="@ManageNavPages.ChangePasswordNavClass(ViewContext) w3-bar-item w3-button" style="border: solid;">Password</a>
</div> 