@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="nav navbar-wrapper">
    <nav class="navbar">
        <a asp-controller="Home" asp-action="Index">PAWS</a>
        <a asp-controller="Home" asp-action="Index">Home<span class="sr-only">(current)</span></a>
        <a asp-controller="Home" asp-action="About">About</a>
        <a asp-controller="Pet" asp-action="Index">Services</a>
        <a asp-controller="Events" asp-action="Index">Events</a>
        <a asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart"></i></a>
        @await Html.PartialAsync("_LoginPartial")
    </nav>
</div>
