@model TherapyCart

@{
    ViewData["Title"] = "Therapy";
}
@await Html.PartialAsync("_NavbarPartial")
<div class="pages overlay">
    <div class="row">
        <div class="col-8">
            <form method="post">
                <input asp-for="ID" type="hidden" />
                <div class="form-group">
                    <label for="formGroupExampleInput">What kind of event is this for?</label>
                    <select asp-for="EventType">
                        <option value="1">Corporate</option>
                        <option value="2">School</option>
                        <option value="3">Party</option>
                        <option value="4">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">How many animals would you like to join?</label>
                    <select asp-for="AnimalCount">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <label for="formGroupExampleInput3">How long would you like your event to be?</label>
                <select asp-for="Length">
                    <option value="1">One hour</option>
                    <option value="2">Two hours</option>
                    <option value="3">Three hours</option>
                </select>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="IsRecurring" value="false">
                    <label class="form-check-label" for="inlineCheckbox1">One time</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="IsRecurring" value="true">
                    <label class="form-check-label" for="inlineCheckbox2">Recurring</label>
                </div>
                <div>
                    <label for="event-time">Date/time:</label>
                    <input type="datetime-local" asp-for="StartDate" value="2018-07-27T19:30"
                           min="2018-07-27T00:00" max="2019-06-14T00:00" />
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Are there any specific instructions we should follow? (If there are none, type "none")</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" asp-for="Instructions" placeholder="Ex: Allergies, sensory issues, etc">
                </div>
                <div>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            </form>
        </div>
        <div class="col-4">
            <p>
                <a asp-controller="Pet" asp-action="Index" class="btn btn-primary">Schedule a visit!</a>
            </p>
            <p>
                <a asp-controller="Pet" asp-action="Corporate" class="btn btn-primary">Corporate Deals!</a>
            </p>
            <p>
                <a asp-controller="Therapy" asp-action="Index" class="btn btn-primary">Therapy Animal Information!</a>
            </p>
        </div>
</div>