@font-face {
    font-family: "Westfalia";
    src: url('Westfalia-Regular.otf')
}

body, h1, h4, h5, h6 {
    font-family: Westfalia, sans-serif;
}

h2, h3 {
    color: #ed8c72;
}

#card-number, #expiration-date, #cvv, #postalCode {
    background-color: white;
    height: 40px;
    padding: 8px;
    display: block;
    font-size: 14px;
    width: 100%;
    overflow: visible;
    margin: 0;
    box-sizing: border-box;
    border-radius: inherit;
    box-shadow: inherit;
    border-color: none;
    outline: none;
}

.a {
    color: #ed8c72;
    text-decoration: none;
}

body, html {
    height: 100%;
    color: #f4eade;
    line-height: 1.8;
    background-color: #2f496e;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

/* Carousel */
.carousel-caption p {
    font-size: 2em;
    line-height: 1.4;
}

.carousel-item img {
    width: 50%;
    height: 50%;
    margin: auto;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 90%;
}

.container {
    background-color: whitesmoke;
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 867px) {
    .hero {
        width: 980px;
    }

    .hero h2 {
        display: none;
    }

    .smallSet {
        display: none;
    }
}

@media screen and (max-width: 866px) {
    .hero h2 {
        font-size: 3em;
        font-weight: bold;
    }

    .hero h1 {
        display: none;
    }

    .btn.btn-hero {
        justify-content: center;
    }

    .carousel {
        display: none;
    }

    .smallSet {
        background-image: url(/images/relax.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: #080d15;
        padding-top: 15vh;
    }

        .smallSet p {
            font-size: 3em;
        }
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input, select {
    margin: .4rem;
}

label {
    display: inline-block;
    text-align: right;
    width: 30%;
}

.formlabel {
    display: inline-block;
    text-align: left;
    width: 100%;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}

    .fade-carousel .carousel-inner .item {
        height: 100vh;
    }

    .fade-carousel .carousel-indicators > li {
        margin: 0 2px;
        background-color: #efa35c;
        border-color: #efa35c;
        opacity: .7;
    }

        .fade-carousel .carousel-indicators > li.active {
            width: 10px;
            height: 10px;
            background-color: #efa35c;
            border-color: #efa35c;
            opacity: 1;
        }

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

    .hero h1 {
        font-size: 6em;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #ed8c72;
    border-color: #ed8c72;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
    background-image: url(../images/relax.jpg);
}

.fade-carousel .slides .slide-2 {
    background-image: url(../images/relax2.jpg);
}

.fade-carousel .slides .slide-3 {
    background-image: url(../images/relax3.jpg);
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    
}

/***************/
/*  TABLES     */
/***************/
thead{
    border: 0;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            position: unset;
            top: 11px;
            left: -2px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            margin: 10px;
        }

        /*
	Label the data
	*/
        td:nth-of-type(1):before {
            content: "Purchase:";
        }

        td:nth-of-type(2):before {
            content: "Scheduled Event:";
        }

        td:nth-of-type(3):before {
            content: "Event Length:";
        }

        td:nth-of-type(4):before {
            content: "Recurrence:";
        }

        td:nth-of-type(5):before {
            content: "Number of puppies:";
        }

        td:nth-of-type(6):before {
            content: "Price:";
        }
}
