@font-face {
    font-family: "Westfalia";
    src: url('Westfalia-Regular.otf')
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-item img {
    width: 50%;
    height: 50%;
    margin: auto;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 90%;
}

.container {
    background-color: #e3f2fd;
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input, select {
    margin: .4rem;
}

label {
    display: inline-block;
    text-align: right;
    width: 30%;
}
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

    /* Change background on mouse-over */
.navbar a:hover {
        background: #ddd;
        color: black;
}

/* Main content */
.main {
    margin-top: 50px; /* Add a top margin to avoid content overlay */
}
.body {
    background-color: #4BC6B9;
    font-family: 'Barlow', sans-serif;
}

.nav {
    z-index: 1;
    background-color: whitesmoke;
    margin: 25px 25px 25px 25px
}

.navbar img {
    width: 8vw;
    height: 8vh;
}

.petmodel {
    display: inline-block;
}

.petmodel img {
    max-height: 300px;
    max-width: 200px;
}

.breedform {
    width: 30%;
}